@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.tag {
	height: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 1.25rem;
	padding: 0.25rem 0.5rem;

	@include tabletStyle {
		height: 1.625rem;
	}
}

.in-stock {
	color: $support-green;
	background: rgba($support-green, 0.07);
}

.out-of-stock {
	color: $support-red;
	background: rgba($support-red, 0.07);
}
