 @import '../../styles/partials/fonts';
@import '../../styles/partials/global';
 @import '../../styles/partials/mixins';
 @import '../../styles/partials/variables';

body{
    width: 100%;
}

/*------Waerhouse List header style goes here-----------*/
.warehouseList {

    margin: 0px 10% 0px 10%;
    @include tabletStyle{

        border-bottom: 1px solid #ccc;
    }

    @include desktopStyle{

        border-bottom: 1px solid #ccc;
    }
    
  }
  .warehouseList__header{

    display: flex;
    flex-direction: column;
    width: 100%;

    @include tabletStyle{


    }

    @include desktopStyle{

        
    }
    
}

.warehouse__header__input{
    background-color: $primary-white;
    width: 90%;
    height: 36px;
    border-radius: 20px;
    border: 1px solid $secondary-cloud;
    padding: 0 2rem 0 1rem; 
    font-size: 16px; 
    margin-bottom: 1rem;
    display: flex; 
    align-items: center; 
    position: relative; 
    margin-left: 1rem;
    &::placeholder{
        
        padding-left: 1rem;
        
      }

      @include tabletStyle{


      }
  
      @include desktopStyle{
  
          
      }
      
    }

.warehouse__header__input-container {
    position: relative;
  }

  .warehouse__header__search-icon {
    position: absolute;
    top: 40%;
    right:10%;
    transform: translateY(-50%);
    pointer-events: none;

    @include tabletStyle{


    }

    @include desktopStyle{

        
    }
    
    
  }
  
  .header-row {
    height: 2.5rem;
    display: flex;
   // flex-direction: column;
 
    font-size: 12px;
   font-style: normal;
  line-height: 18px;
   font-weight: 600;
   background-color:$background-light-grey;
   color:$secondary-slate;
 
   & img{
     
    width: 1rem;
      height: 1rem;
      padding-top: 2px;
 }
 @include tabletStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 @include desktopStyle{

    justify-content: space-between;
    align-items: center;

 }
 
  }
  
  .warehouse__rows {
//     display: flex;
//     justify-content: space-evenly;
//     border-top: 1px solid #ccc;
//    // border-bottom: 1px solid #ccc;
//     width: 90%;
//     margin: 0.5rem;
//     padding-right: 0.5rem;


display: flex;
 // flex-direction: column; /* Stack items vertically in mobile view */
  border-top: 1px solid #ccc;
  width: 90%;
  margin: 0.5rem;
  padding-right: 0.5rem;


  @include tabletStyle{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   margin: 0;
    padding-right: 5rem;

 }
 @include desktopStyle{
    flex-direction: row;
  margin: 0;
 }


   
  }

  .warehouse__rows__left{
 display: flex;
 flex-direction: column;
 @include tabletStyle{
    flex-direction: row;
 }
 
 @include desktopStyle{
    flex-direction: row;
    justify-content: space-between;
 }



  }
  .warehouse__rows__right{
    display: flex;
    flex-direction: column;

    @include tabletStyle{
        flex-direction: row;
    
        gap:5rem;
     }
     
     @include desktopStyle{
        flex-direction: row;
       gap:8rem;
     }
    
     }
     
  

  
.action__icons{

    display: flex;
   justify-content:space-between;
   width:90%;
   margin:0.5rem;

  


    @include tabletStyle{

      justify-content: end;
      width: 100%;
      margin: 0;
    }

    @include desktopStyle{
        justify-content: end;
        
    }
    
}
.header__rowtitle{

    display: flex;
}
.warehouse{
   
    color:$primary-text-black;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
   
    @include tabletStyle{
     width: 100%;

    }

    @include desktopStyle{
        font-size: 14px;
       
     width: 100%;
        background-color: red;
        
    }
    
    

}
.contact_info
{
    display: flex;
    flex-direction: column;
      & p{
       margin:  0;
     }
    
}
.address-column{
   
    width: 70%;
}
.contact-name-column{
    width: 20%;
}
.warehouse__name{
    display: flex;
    & a{
        text-decoration: none;
    }
  
}
