@import '../../styles/partials/fonts';
@import '../../styles/partials/global';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

body {
	width: 100%;
  background-color: $background-light-grey;
}

.warehouse{
	border-top: 1px solid #bdc5d5;
	&:first-of-type{
		@include tabletStyle{
			border-top: 0rem;
		}
		@include desktopStyle{
			border-top: 0rem;
		}
		
	}

	&__warehouseName{
		display: block;
		order: 2;
		flex-basis: 45%;

		@include desktopStyle{
		   
		}

	}
	&__address{
		display: block;
		order:8;
		flex-basis: 45%;
	}
	&__contactName{
		display: block;
		order:3;
		flex-basis: 45%;
		@include tabletStyle{

		}
		@include desktopStyle{

		}

	}
	&__contactInfo{
		display: block;
		order:5;
		flex-basis: 45%;
		@include tabletStyle{

		}
		@include desktopStyle{

		}

	}

	&__rows{
		gap: 1rem;
	}
	&__actionIcons{
		display: flex;
	}

}


//moved styling to mainContent__container
.warehouseList {
}

// .warehouse__rows {

// 	display: flex;
// 	width: 100%;
// 	gap: 2rem;
//   border-top: 1px solid #ccc;


// 	@include tabletStyle {
// 		flex-direction: row;
// 		width: 100%;
		
//     &:hover {
//       background-color: $secondary-cloud;
//     }
  

// 	}

// 	@include desktopStyle {
    
//   }

// }

.action__icons {

	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0.5rem;

	@include tabletStyle {

	justify-content: end;
	width: 100%;
	margin: 0;

	& img {
			height: 1rem;
			width: 1rem;
		}
	}

	@include desktopStyle {
		justify-content: end;

	}

}

.Mobile_layout {
	display: flex;
	justify-content: space-between;
}

.action__icons__mobile {


	@include tabletStyle {

		display: none;
	}

	@include desktopStyle {

		display: none;
	}
}

.action__icons__desktop {
	display: none;

	@include tabletStyle {
		display:flex;
    margin-right: 1.5rem;
	}
}


.warehouse {

	color: $primary-text-black;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;

	@include tabletStyle {
		width: 100%;

	}

	@include desktopStyle {
		font-size: 14px;

		width: 100%;


	}


}

.contact_info {
	display: flex;
	flex-direction: column;

	& p {
		margin: 0;
	}

}

// .warehouse__rows__address {
// 	@include tabletStyle {

// 		position: relative;
// 		left: 2rem;
// 		width: 60%;

// 	}

// }

// .warehouse__rows__contactinfo {

// 	@include tabletStyle {


// 		position: relative;
// 		left: 3.5rem;
// 	}
// }

// .warehouse__rows__contactname {

// 	@include tabletStyle {

// 		width: 60%;
// 	}

// }

// .warehouse__rows__name {
//   position: relative;

//   & a {
//     text-decoration: none;
//   }

//   & a:visited {
//     color: $primary-interactive-indigo; 
//   }

//   & img {
//     position: absolute;
//   }

//   @include tabletStyle {
//     margin-left: 1rem;
//   }

//   &:hover {
//     text-decoration: underline;
//     text-decoration-color: $primary-interactive-indigo;
//     text-decoration-thickness: 0.5px;
//   }
// }



// .warehouse__rows-left {
// 	width: 70%;
// 	margin-top: 5%;

// 	@include tabletStyle {

// 		display: flex;
// 		flex-direction: row;
// 		width: 60%;
// 		justify-content: space-between;

// 	}

// 	@include desktopStyle {}
// }

// .warehouse__rows-right {
// 	margin-top: 5%;
// 	width: 60%;

// 	@include tabletStyle {

// 		display: flex;
// 		flex-direction: row;
// 		width: 100%;

// 		gap: 2rem;
// 	}

// 	@include desktopStyle {}
// }

// .header__rowtitle-mobile {
// 	font-size: 11px;
// 	font-style: normal;
// 	font-weight: 600;
// 	line-height: 16px;
// 	color: $secondary-slate;
// 	padding-bottom: 10px;
// 	padding-top: 10px;

// 	@include tabletStyle {

// 		display: none;
// 	}

// 	@include desktopStyle {
// 		display: none;
// 	}

// }

.header__rowtitle-mobile{
	&--warehouse{
		flex-basis: 45%;
		order:0;
	}
	&--contact{
		order:1;
		flex-basis: 45%;
	}
	&--address{
		order:6;
		flex-basis: 45%;
	}
	&--info{
		order:7;
		flex-basis: 45%;

	}
	&--phone{
		order:10;
		flex-basis: 45%;

	}
	&--email{
		order:12;
		flex-basis: 45%;

	}
}
.warehouse .spacer{
	order:11;
	flex-basis: 45%;
	border: 0;
}

.action-buttons .column-normal .warehousePage{
	order:99;
}