.icon-button {
	width: 1.5rem;
	height: 1.5rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.edit-icon {
	background-image: url(../../assets/Icons/edit-24px.svg);
}

.delete-icon {
	background-image: url(../../assets/Icons/delete_outline-24px.svg);
}
