@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts" as *;

* {
	box-sizing: border-box;
}

body {
	font-family: "Titillium Web";
	color: $primary-text-black;
	margin: 0;
	padding: 0;
}

.mainContent {
	&__container {
		box-shadow: 0px 2px 5px 0px #13182c1a;
		width: 80%;
		margin: auto;
		align-items: center;
		flex-direction: column;
		background-color: $primary-white;
	}
}

.inputTextBox {
	height: 2rem;
	border: 1px solid $secondary-cloud;
	border-radius: 20px;
	padding-left: 1rem;
	&--error {
		font-size: 0.6rem;
		color: $support-red;
	}
}
.inputTextBox[type="text"] {
	color: $secondary-slate;
	font-weight: 400;
	font-family: Titillium Web;
	font-size: 0.9rem;
}
.inputTextBox:active {
	border: 1px solid $primary-interactive-indigo;
}

.textBoxLabel {
	margin-top: 1rem;
	font-size: 0.9rem;
}

.inputTextBox.inputError {
	border: 1px solid $support-red;
}

/* Headings */
h1 {
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.25rem;
	color: $primary-text-black;
	margin: 0;

	@include tabletStyle {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}
