@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.details__headerText{
    font-size: 1.5rem;
}
.addNew{
    font-family: Titillium Web;
  &__container{
    // padding-top:2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}
&__headerDetails{
    font-size: 1.2rem;
    margin-top: 0rem;
}

 &__contact{
    font-size: 1.2rem;
    margin-top: 0rem;

}
 &__detailsContainer{
    margin-top: 1.2rem;
    font-weight: 600;
    
    
    display: flex;
    flex-direction: column;
    @include tabletStyle{
        flex-direction: row;

    }
    @include desktopStyle{
        flex-direction: row;
    }

 }
 &__details{
    display: flex;
    flex-direction: column;
    @include tabletStyle{
        width:45%;
        margin-right: 2rem;
    }


 }
 &__contact{
    display:flex;
    flex-direction: column;
    @include tabletStyle{
        width:45%;
        margin-left: 2rem;
    }


 }
 &__footer{
    display: flex;
    height: 70px;
    background-color: $background-light-grey;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    // padding-bottom: 1rem;
    justify-content: space-between;
    @include tabletStyle{
        justify-content: flex-end;
        align-items: center;
    }
 }
//  &__button--cancel{
//     //font-size: .7rem;
//  }

//  &__button--add{
//     // font-size: .7rem;
//  }
}




.button.button{
    font-size:.64rem;
    width:7.1rem;
    @include tabletStyle{
        width: auto;
        font-size: .71rem;
        margin-left: 1rem;
        height: 2rem;
    }
}

// .button.button.secondary.cancel{
//     width:7rem;
// }

// #warehouseName{
//     border: 1px solid $secondary-cloud;
//     border-radius: 20px;
// }


.inputTextBox{
    height: 2rem;
    border: 1px solid $secondary-cloud;
    border-radius: 20px;
    padding-left: 1rem;
}

.inputTextBox[type="text"]{
    color: $secondary-slate;
    font-weight: 400;
    font-family: Titillium Web;
    font-size: 0.9rem;
    
    
}

.textBoxLabel{
    font-size: 0.9rem;
}