@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-LightItalic.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Italic.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-Light.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-ExtraLightItalic.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Light.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Black.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Bold.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}

.header {
  width: 100%;
  background-color: #232940;
  color: #ffffff;
  text-align: center;
  font-family: Titillium-web;
  padding-top: 2.5rem;
  height: 8.5rem;
  margin: 0;
}
@media screen and (min-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 11.625rem;
    padding-top: 2.188rem;
  }
}
@media screen and (min-width: 767px) {
  .header__logo {
    padding-left: 2rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    padding-left: 8.125rem;
  }
}
.header__links {
  display: flex;
  justify-content: space-around;
  font-size: 0.813rem;
  color: #bdc5d5;
  margin-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.header__links :hover {
  text-decoration: underline;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .header__links {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__links {
    padding-right: 9.125rem;
  }
}
.header__link {
  width: 9rem;
  text-decoration: none;
  color: #bdc5d5;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
  .header__link {
    height: 2.375rem;
    line-height: 2.125rem;
    width: 6.688rem;
    padding: 0;
    text-align: center;
  }
}
@media screen and (min-width: 767px) {
  .header__link {
    height: 2.375rem;
    line-height: 2.125rem;
    width: 6.688rem;
    padding: 0;
    text-align: center;
  }
}
.header__link--active {
  color: #ffffff;
  background: #13182c;
  border-radius: 1.25rem;
  text-decoration: none;
}/*# sourceMappingURL=Header.css.map */