@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

* {
  margin: 0;
}

.header {

	width: 100%;
	background-color: $background-graphite;
	color: $primary-white;
	text-align: center;
	font-family: Titillium-web;
	padding-top: 2.5rem;
	height: 8.5rem;
	margin: 0;

	@include tabletStyle {
		display: flex;
		justify-content: space-between;
		height: 11.625rem;
		padding-top: 2.188rem;
	}

	&__logo {
		@include tabletStyle {
			padding-left: 2rem;
			padding-top: 0.5rem;
		}

		@include desktopStyle {
			padding-left: 8.125rem;
		}
	}

	&__links {
		display: flex;
		justify-content: space-around;
		font-size: 0.813rem;
		color: $secondary-cloud;
		margin-top: 0.625rem;
		padding-bottom: 0.625rem;


    :hover {
      text-decoration: underline;
      color: $primary-white;
    }


		@include tabletStyle {
			padding-right: 2rem;
		}

		@include desktopStyle {
			padding-right: 9.125rem;
		}
	}

	&__link {
		width: 9rem;
		text-decoration: none;
		color: $secondary-cloud;
		line-height: 1.25rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-weight: 600;

		@include tabletStyle {
			height: 2.375rem;
			line-height: 2.125rem;
			width: 6.688rem;
			padding: 0;
			text-align: center;
		}

		@include tabletStyle {
			height: 2.375rem;
			line-height: 2.125rem;
			width: 6.688rem;
			padding: 0;
			text-align: center;
		}

		&--active {
			color: $primary-white;
			background: $primary-text-black;
			border-radius: 1.25rem;
			text-decoration: none;
		}
	}

}